extends ../layout

block body
	.container.looks-container
		table.table
			thead
				tr
					th Name
					th Website
					th Address
			tbody
			each item in prouserlist
				tr 
					td: a(href="/pro/#{item.id}") #{item.firstName} #{item.lastName}
					td #{item.emailId}
					td #{item.address.line1} #{item.address.line2} #{item.address.zipcode} 	#{item.address.city}
					


